@model IEnumerable<SimpleMessenger.Models.User>

@{
    ViewData["Title"] = "Пользователи";
}

<h1>Пользователи</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="/uploads/@item.Photo" style="max-width: 45px; max-height: 45px;">
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Подробно</a>
            </td>
        </tr>
}
    </tbody>
</table>
